# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compilación
dist/
build/
*.js.map

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
.DS_Store
Thumbs.db

# TypeORM
ormconfig.json
ormlogs.log

# Temporal
tmp/
temp/
uploads/

# Base de datos
*.sqlite
*.db
data/
pgdata/ 